<div class="jumbotron">
    <h1>Welcome {{user}}!</h1>
    <p>Please click the buttom below to curate the latest web development articles</p>
    <p><a class="scrape-btn btn btn-primary btn-lg" role="button" href="/scraper">Get New Articles!</a></p>
    <p><a class="scrape-btn btn btn-primary btn-lg" role="button" href="/myarticles">Retrieve Saved Articles!</a></p>
</div>